<div class="jumbotron">
  <h1 class="display-4">{{title}}</h1>
  <p class="lead">Welcome to {{title}}</p>
  <hr class="my-4">
  <p>Aplicacion para fumigación con drones para el trabajo final de experto</p>
  <a class="btn btn-primary btn-lg" href="http://localhost:3000/empresa" role="button">Empresa</a>
  <a class="btn btn-primary btn-lg" href="http://localhost:3000/propietario" role="button">Propietario</a>
  <a class="btn btn-primary btn-lg" href="http://localhost:3000/solicitud" role="button">Solicitud</a>
</div>