
<div class="container">
    <h1>{{mensaje}}</h1>

    <form>
        <div class="form-group">
            <label for="longitud">Longitud Parcela</label>
            <input type="text" class="form-control" id="longitud" aria-describedby="longitudHelp"
                placeholder="Ingrese longitud parcela metros">
            <small id="longitudHelp" class="form-text text-muted">Debe ingresar la longitud en metros</small>
        </div>
        <div class="form-group">
            <label for="alturaMaxima">Altura máxima</label>
            <input type="text" class="form-control" id="alturaMaxima" aria-describedby="alturaMaximaHelp"
                placeholder="Ingrese altura maxima metros">
            <small id="alturaMaximaHelp" class="form-text text-muted">Debe ingresar la altura en metros</small>
        </div>
        <div class="form-group">
            <label for="alturaMinima">Altura mínima</label>
            <input type="text" class="form-control" id="alturaMinima" aria-describedby="alturaMinimaHelp"
                placeholder="Ingrese altura minima metros">
            <small id="alturaMinimaHelp" class="form-text text-muted">Debe ingresar la altura en metros</small>
        </div>
         <div class="form-group">
            <label for="pesticida">Example select</label>
            <select class="form-control" id="pesticida">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>